@mixin flex {
  display: flex;
  justify-content: space-between;
}

.Header {
  background-color: lightgrey;
  margin-bottom: 48px;
  padding: 20px 0;
  border-bottom: 1px solid $green;

  &__inner {
    width: 90%;
    margin: 0 auto;
  }
}

.Title {
  width: 100%;
  @include flex;

  &__appbtn {
    color: $green;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
  }
}

.Nav {
  width: 30%;
  @include flex;

  &__btn {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    color: $green;
    text-decoration: none;
    border: 1px $green solid;
  }
}