.Header {
  background-color: lightgrey;
  margin-bottom: 48px;
  padding: 20px 0;
  border-bottom: 1px solid #D8D8D8;

  &__inner {
    width: 90%;
    margin: 0 auto;


    .Title {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &__appbtn {
        color: darkgreen;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
      }

      .Nav {
        width: 30%;
        display: flex;
        justify-content: space-between;
      
        &__btn {
          display: inline-block;
          padding: 10px;
          font-size: 10px;
          color: black;
          text-decoration: none;
          border: 1px black solid;
        }
      }
    }
  }
}