@mixin text-none {
  text-decoration: none;
}

@mixin flex {
  display: flex;
}

@mixin block {
  display: block;
}

@mixin inline-block {
  display: inline-block;
}

@mixin border-none {
  border-style: none;
}